gradio==5.0.2
httpx<0.28
loguru==0.7.2
openai==1.40.0
Pillow==10.4.0
pyautogui==0.9.54
pyobjc-core==12.1
pyobjc-framework-accessibility==12.1
pyobjc-framework-ApplicationServices==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-Quartz==12.1
pyobjc-framework-avfoundation==12.1
pyobjc-framework-speech==12.1
pyperclip==1.9.0
